<?xml version="1.0"?>
<config>
    <!--适配器模式配置文件-->
    <AdapterClassName>AdapterPattern.OperationAdapter</AdapterClassName>

    <!--桥接模式配置文件-->
    <!--RefinedAbstraction-->
    <BridgeClassName>BridgePattern.JPGImage</BridgeClassName>
    <!--ConcreteImplementor-->
    <BridgeClassName>BridgePattern.WindowsImp</BridgeClassName>

    <!--代理模式配置文件-->
    <ProxyClassName>ProxyPattern.ProxySearcher</ProxyClassName>

</config>