<?xml version="1.0"?>
<config>
    <!--简单工厂模式配置部分-->
    <chartType>histogram</chartType>

    <!--工厂方法模式配置部分-->
    <className>FactoryMethodPattern.FileLoggerFactory</className>

    <!--抽象工厂模式配置部分-->
    <AbstractFactoryClassName>AbstractFactoryPattern.SpringSkinFactory</AbstractFactoryClassName>

    <!--建造者模式配置部分-->
    <ActorBuilder>BuilderPattern.AngelBuilder</ActorBuilder>
</config>